In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
reviews=pd.read_csv('Zomato_reviews.csv')
reviews

       rating                                        review_text
0         1.0  Their service is worst, pricing in menu is dif...
1         5.0  really appreciate their quality and timing . I...
2         4.0  Went there on a Friday night, the place was su...
3         4.0  A very decent place serving good food.\r\nOrde...
4         5.0  One of the BEST places for steaks in the city....
...       ...                                                ...
27757     4.0  Food quality 4.5/5\r\nHospitality 4/5\r\nManag...
27758     4.0  Taste of the food is good and the ambience as ...
27759     5.0  Pizza is really thin crust and made from fresh...
27760     5.0  Visited last Saturday with my kids ,\r\nIt was...
27761     3.0  I love onesta always and their unlimited offer...

[27762 rows x 2 columns]

In [3]:
reviews.shape

(27762, 2)

In [4]:
reviews.describe

<bound method NDFrame.describe of        rating                                        review_text
0         1.0  Their service is worst, pricing in menu is dif...
1         5.0  really appreciate their quality and timing . I...
2         4.0  Went there on a Friday night, the place was su...
3         4.0  A very decent place serving good food.\r\nOrde...
4         5.0  One of the BEST places for steaks in the city....
...       ...                                                ...
27757     4.0  Food quality 4.5/5\r\nHospitality 4/5\r\nManag...
27758     4.0  Taste of the food is good and the ambience as ...
27759     5.0  Pizza is really thin crust and made from fresh...
27760     5.0  Visited last Saturday with my kids ,\r\nIt was...
27761     3.0  I love onesta always and their unlimited offer...

[27762 rows x 2 columns]>

In [5]:
reviews.describe(include='all')

              rating review_text
count   27762.000000       27748
unique           NaN       10548
top              NaN        good
freq             NaN         278
mean        3.665784         NaN
std         1.284573         NaN
min         1.000000         NaN
25%         3.000000         NaN
50%         4.000000         NaN
75%         5.000000         NaN
max         5.000000         NaN

In [6]:
reviews.isnull().sum()

rating          0
review_text    14
dtype: int64

In [7]:
reviews.dropna(inplace=True)

In [8]:
reviews.isnull().sum()

rating         0
review_text    0
dtype: int64

In [9]:
reviews.reset_index(inplace=True, drop=True)
reviews

       rating                                        review_text
0         1.0  Their service is worst, pricing in menu is dif...
1         5.0  really appreciate their quality and timing . I...
2         4.0  Went there on a Friday night, the place was su...
3         4.0  A very decent place serving good food.\r\nOrde...
4         5.0  One of the BEST places for steaks in the city....
...       ...                                                ...
27743     4.0  Food quality 4.5/5\r\nHospitality 4/5\r\nManag...
27744     4.0  Taste of the food is good and the ambience as ...
27745     5.0  Pizza is really thin crust and made from fresh...
27746     5.0  Visited last Saturday with my kids ,\r\nIt was...
27747     3.0  I love onesta always and their unlimited offer...

[27748 rows x 2 columns]

In [10]:
reviews.shape

(27748, 2)

In [11]:
#convert to list for easy manipulation

In [12]:
reviews_list=reviews.review_text.values
len(reviews_list)

27748

In [13]:
type(reviews_list)

numpy.ndarray

In [14]:
#text clean

In [15]:
#1 normalize the case

In [16]:
reviews_lower=[txt.lower() for txt in reviews_list]
reviews_lower[0:20]

['their service is worst, pricing in menu is different from bill. they can give you a bill with increased pricing. even for serving water,menu, order you need to call them 3-4 times even on a non busy day.',
 "really appreciate their quality and timing . i have tried the thattil kutti dosa i've been addicted to the dosa really and the chutney... really good and money worth much better than a thattukada must try it",
 'went there on a friday night, the place was surprisingly empty. interesting menu which is almost fully made of dosas. i had bullseye dosa and cheese masala dosa. the bullseye dosa was really good, with the egg perfectly cooked to a half boiled state. the masala in the cheese masala was good, but the cheese was a bit too chewy for my liking. the chutney was good, the sambar was average. the dishes are reasonably priced.',
 'a very decent place serving good food.\r\nordered chilli fish, chicken & pork sizzler.\r\neverything tasted good but pork could have been slightly better cooked.\r\ntried 2 beverages, both were very sweet.',
 'one of the best places for steaks in the city. tried the beef steak with chili rum & grilled fish with orange and jalapenos. both were exceptionally good. the herbed rice and mashed potatoes serves alongside were equally delecatble. service is prompt and zomato gold is a great steal. if you are a steak lover, this place is a must visit. hope they come up with another ourself somewhere in the cbd.\r\n\r\nwish to be back soon.\r\nbon appetit !',
 'really lovely place for steaks and sizzlers. tried whatã\x83\x83ã\x82\x83ã\x83\x82ã\x82\x82ã\x83\x83ã\x82\x82ã\x83\x82ã\x82\x92s at steak? it was so flavourful and delicious. the herb sauce is one of its kind. must try!!\r\n\r\nthe ambience is cozy and just right! loved it. ?',
 "this place ia for ultimate steak lovers!\r\nboth chicken and pork steaks are just so scrumptious and succulent! we tried honey mustard based steakcious and what's in a steak these two dishes there and both were so tasty! the mocktails are also quite good so nice place to do an awesome dine-out with family and friend!",
 "it's a shame if you haven't tried once upon a flame. :)\r\n\r\nlip smacking food. for the first time i licked off a sizzler plate. it was that bloody good.\r\n\r\ntwo of us ordered fish chilly , chicken steak sizzler and pork steak. the sauce was killer , meat was tender and the sides were absolutely fresh.\r\n\r\nyou end up having old salad sides and mashed potatoes at a lot of places but they served everything super fresh.\r\n\r\ni just wish this place runs a packed house.\r\n\r\nmy only complaint is their drinks were tad too sweet\r\n\r\nhighly recommended.",
 'we visited this place after we were tired and hungry after roaming around agra lake. it is a newly opened place and as the name suggests their specialty is barbecued and smoked food. their menu as decent variety.....food taste is good. ambiance is likeable and overall a great place for family dine out.',
 'went there for yesterday dinner. surprisingly this place is quite silent. and not that much of rush. we went there just to take some sizzlers. so 2 people ordered for 2 types of sizzler chicken. believe me the taste is really too yummy. i canã\x83\x83ã\x82\x83ã\x83\x82ã\x82\x82ã\x83\x83ã\x82\x82ã\x83\x82ã\x82\x92t resist myself to eat another one but sad for me we are already late and there closing time comes. so i will surely go there very soon. food is superb tasty and ambience staffs everything is too good. a great experience. highly recommended for sizzler lovers.',
 'great restaurants serving amazing steaks. super courteous staff. you can see the owner on most days on the floor taking orders, serving, ensuring food and everything is fine.\r\n\r\nfood is just amazing, serving style, portion and taste all just right.\r\n\r\none of those restaurants which make you feel happy afterwards. to go for your meat, steak and burger cravings.',
 "location - it is on the first floor, next to mcdonalds and opposite to punjabi rasoi\r\n\r\nambience - the place is dimly lit with wooden chairs and table- perfect setup for a steakhouse\r\n\r\nfood and drinks-\r\n\r\nthe pepper trail - we ordered this as per the server's recommendation and were not at all disappointed. the steak was cooked to perfection and the sauce perfectly complemented it. it is served along wt sides of herbed rice, mashed potatoes and steamed veggies.\r\n\r\nlike a virgin - lemon soda with ginger and mint\r\n\r\nnojito - virgin mojito\r\n\r\nchocolate mousse - this one has the perfect taste and texture, one of the best i have ever tasted\r\n\r\nprice and service-full marks for service. on a sunday night, this place was crowded and we had to wait for 15 mins but the service was quick . zomato 1+1 on food help us save some money and we paid around rs 800 for two ppl",
 'this place is famous for steak. the ambience is good not a big restaurant but not crowded too on weekends. the service is decent and should try out if you want semi healthy food.',
 "ambience is peaceful with comfortable seating and yellow lights. the music is light and allows you to have a chat with your friends.\r\n\r\ncoming to the food, we ordered pepper trail steak and grilled cottage cheese salad along with mixed vegetable soup. steak comes with mashed potatoes, rice and grilled veggies. steak was perfectly cooked and juicy. mashed potatoes were way too yum, i think they had mixed cheese with it. soup was also creamy along with a lot of vegetables. for the salad, we ordered matbucha paprika dressing, however i didn't like it much. paneer was okay but the other veggies didn't seem to be fresh.\r\n\r\nstaff was courteous enough to accept zomato gold after we placed the order. service was also prompt.\r\n\r\nambience - 4/5\r\nfood - 4/5\r\nservice - 4.5/5",
 'we primarily went there to try out their steaks. they have quite a huge spread of varieties of steaks. me and my friend, both tried their beef steaks. the meat was tender and good. we thoroughly enjoyed. ambience is decent and the stuffs are quite helpful and friendly.',
 'had been there on 31st december for dinner..the place was crowded, still we managed to get a table. we ordered some fish and chicken platters and few mocktails..the platters tasted good but the quantity was very less as per the price of dishes..mocktails were not that great..due to rush staffs were quite busy to attend each table but still they were trying their best..appreciate them for that..the place was dim lit but overall ambiance was good..can try once ??',
 'we order chicken starch and the chicken steak. the quality of service and food was excellent. a must place to visit. thank you for wonderful service.',
 'i wonder why it took me so long to discover this place in bangalore. on 1st jan, while scrolling through the restaurants near hsr layout, i accidentally came across this particular place and it was probably the best thing that happened to me that day.\r\nthe ambience was beautiful... the sitting arrangements, the setup,everything was just top notch... amazing people who served food... thanks to the person who attended our table was kind and lovely and helpful...\r\nwe order beef tenderloin and pork steak and a mocktail...all of them were just delicious... coming at a very reasonable price too..\r\nlooking forward to visiting this place again sometime soon... thanks for the wonderful evening, team ouaf ????',
 'a nice place to have steak in bangalore. they also have vegetarian steak options. isnã\x83\x83ã\x82\x83ã\x83\x82ã\x82\x82ã\x83\x83ã\x82\x82ã\x83\x82ã\x82\x92t it amazing? the food is tasty. service is pretty quick. ambience is very pretty specially the lights on the ceiling. rates are very reasonable and if you have zomato gold membership itã\x83\x83ã\x82\x83ã\x83\x82ã\x82\x82ã\x83\x83ã\x82\x82ã\x83\x82ã\x82\x92s very easy on pocket. give it a try when you crave for steak.',
 "awesome food and epic burgers i especially loved the service and how owner takes every attention to detail to every customer that comes and over then that i'll to give props to the chef's for the food begin my 1st time in bengaluru i am quite impressed with the restaurant #worthavisit #mustvisit #steakstastic #epicburgers"]

In [17]:
#remove line breaks

In [18]:
reviews_lower=[" ".join(txt.split()) for txt in reviews_lower]

In [19]:
reviews_lower[0:20]

['their service is worst, pricing in menu is different from bill. they can give you a bill with increased pricing. even for serving water,menu, order you need to call them 3-4 times even on a non busy day.',
 "really appreciate their quality and timing . i have tried the thattil kutti dosa i've been addicted to the dosa really and the chutney... really good and money worth much better than a thattukada must try it",
 'went there on a friday night, the place was surprisingly empty. interesting menu which is almost fully made of dosas. i had bullseye dosa and cheese masala dosa. the bullseye dosa was really good, with the egg perfectly cooked to a half boiled state. the masala in the cheese masala was good, but the cheese was a bit too chewy for my liking. the chutney was good, the sambar was average. the dishes are reasonably priced.',
 'a very decent place serving good food. ordered chilli fish, chicken & pork sizzler. everything tasted good but pork could have been slightly better cooked. tried 2 beverages, both were very sweet.',
 'one of the best places for steaks in the city. tried the beef steak with chili rum & grilled fish with orange and jalapenos. both were exceptionally good. the herbed rice and mashed potatoes serves alongside were equally delecatble. service is prompt and zomato gold is a great steal. if you are a steak lover, this place is a must visit. hope they come up with another ourself somewhere in the cbd. wish to be back soon. bon appetit !',
 'really lovely place for steaks and sizzlers. tried whatã\x83\x83ã\x82\x83ã\x83\x82ã\x82\x82ã\x83\x83ã\x82\x82ã\x83\x82ã\x82\x92s at steak? it was so flavourful and delicious. the herb sauce is one of its kind. must try!! the ambience is cozy and just right! loved it. ?',
 "this place ia for ultimate steak lovers! both chicken and pork steaks are just so scrumptious and succulent! we tried honey mustard based steakcious and what's in a steak these two dishes there and both were so tasty! the mocktails are also quite good so nice place to do an awesome dine-out with family and friend!",
 "it's a shame if you haven't tried once upon a flame. :) lip smacking food. for the first time i licked off a sizzler plate. it was that bloody good. two of us ordered fish chilly , chicken steak sizzler and pork steak. the sauce was killer , meat was tender and the sides were absolutely fresh. you end up having old salad sides and mashed potatoes at a lot of places but they served everything super fresh. i just wish this place runs a packed house. my only complaint is their drinks were tad too sweet highly recommended.",
 'we visited this place after we were tired and hungry after roaming around agra lake. it is a newly opened place and as the name suggests their specialty is barbecued and smoked food. their menu as decent variety.....food taste is good. ambiance is likeable and overall a great place for family dine out.',
 'went there for yesterday dinner. surprisingly this place is quite silent. and not that much of rush. we went there just to take some sizzlers. so 2 people ordered for 2 types of sizzler chicken. believe me the taste is really too yummy. i canã\x83\x83ã\x82\x83ã\x83\x82ã\x82\x82ã\x83\x83ã\x82\x82ã\x83\x82ã\x82\x92t resist myself to eat another one but sad for me we are already late and there closing time comes. so i will surely go there very soon. food is superb tasty and ambience staffs everything is too good. a great experience. highly recommended for sizzler lovers.',
 'great restaurants serving amazing steaks. super courteous staff. you can see the owner on most days on the floor taking orders, serving, ensuring food and everything is fine. food is just amazing, serving style, portion and taste all just right. one of those restaurants which make you feel happy afterwards. to go for your meat, steak and burger cravings.',
 "location - it is on the first floor, next to mcdonalds and opposite to punjabi rasoi ambience - the place is dimly lit with wooden chairs and table- perfect setup for a steakhouse food and drinks- the pepper trail - we ordered this as per the server's recommendation and were not at all disappointed. the steak was cooked to perfection and the sauce perfectly complemented it. it is served along wt sides of herbed rice, mashed potatoes and steamed veggies. like a virgin - lemon soda with ginger and mint nojito - virgin mojito chocolate mousse - this one has the perfect taste and texture, one of the best i have ever tasted price and service-full marks for service. on a sunday night, this place was crowded and we had to wait for 15 mins but the service was quick . zomato 1+1 on food help us save some money and we paid around rs 800 for two ppl",
 'this place is famous for steak. the ambience is good not a big restaurant but not crowded too on weekends. the service is decent and should try out if you want semi healthy food.',
 "ambience is peaceful with comfortable seating and yellow lights. the music is light and allows you to have a chat with your friends. coming to the food, we ordered pepper trail steak and grilled cottage cheese salad along with mixed vegetable soup. steak comes with mashed potatoes, rice and grilled veggies. steak was perfectly cooked and juicy. mashed potatoes were way too yum, i think they had mixed cheese with it. soup was also creamy along with a lot of vegetables. for the salad, we ordered matbucha paprika dressing, however i didn't like it much. paneer was okay but the other veggies didn't seem to be fresh. staff was courteous enough to accept zomato gold after we placed the order. service was also prompt. ambience - 4/5 food - 4/5 service - 4.5/5",
 'we primarily went there to try out their steaks. they have quite a huge spread of varieties of steaks. me and my friend, both tried their beef steaks. the meat was tender and good. we thoroughly enjoyed. ambience is decent and the stuffs are quite helpful and friendly.',
 'had been there on 31st december for dinner..the place was crowded, still we managed to get a table. we ordered some fish and chicken platters and few mocktails..the platters tasted good but the quantity was very less as per the price of dishes..mocktails were not that great..due to rush staffs were quite busy to attend each table but still they were trying their best..appreciate them for that..the place was dim lit but overall ambiance was good..can try once ??',
 'we order chicken starch and the chicken steak. the quality of service and food was excellent. a must place to visit. thank you for wonderful service.',
 'i wonder why it took me so long to discover this place in bangalore. on 1st jan, while scrolling through the restaurants near hsr layout, i accidentally came across this particular place and it was probably the best thing that happened to me that day. the ambience was beautiful... the sitting arrangements, the setup,everything was just top notch... amazing people who served food... thanks to the person who attended our table was kind and lovely and helpful... we order beef tenderloin and pork steak and a mocktail...all of them were just delicious... coming at a very reasonable price too.. looking forward to visiting this place again sometime soon... thanks for the wonderful evening, team ouaf ????',
 'a nice place to have steak in bangalore. they also have vegetarian steak options. isnã\x83\x83ã\x82\x83ã\x83\x82ã\x82\x82ã\x83\x83ã\x82\x82ã\x83\x82ã\x82\x92t it amazing? the food is tasty. service is pretty quick. ambience is very pretty specially the lights on the ceiling. rates are very reasonable and if you have zomato gold membership itã\x83\x83ã\x82\x83ã\x83\x82ã\x82\x82ã\x83\x83ã\x82\x82ã\x83\x82ã\x82\x92s very easy on pocket. give it a try when you crave for steak.',
 "awesome food and epic burgers i especially loved the service and how owner takes every attention to detail to every customer that comes and over then that i'll to give props to the chef's for the food begin my 1st time in bengaluru i am quite impressed with the restaurant #worthavisit #mustvisit #steakstastic #epicburgers"]

In [20]:
#tokenize data

In [21]:
from nltk.tokenize import word_tokenize

In [22]:
import nltk
nltk.download('punkt')
#as alternative to tokenize

[nltk_data] Downloading package punkt to /home/labsuser/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [23]:
reviews_tokens=[word_tokenize(txt) for txt in reviews_lower]

In [24]:
reviews_tokens[0:3]

[['their',
  'service',
  'is',
  'worst',
  ',',
  'pricing',
  'in',
  'menu',
  'is',
  'different',
  'from',
  'bill',
  '.',
  'they',
  'can',
  'give',
  'you',
  'a',
  'bill',
  'with',
  'increased',
  'pricing',
  '.',
  'even',
  'for',
  'serving',
  'water',
  ',',
  'menu',
  ',',
  'order',
  'you',
  'need',
  'to',
  'call',
  'them',
  '3-4',
  'times',
  'even',
  'on',
  'a',
  'non',
  'busy',
  'day',
  '.'],
 ['really',
  'appreciate',
  'their',
  'quality',
  'and',
  'timing',
  '.',
  'i',
  'have',
  'tried',
  'the',
  'thattil',
  'kutti',
  'dosa',
  'i',
  "'ve",
  'been',
  'addicted',
  'to',
  'the',
  'dosa',
  'really',
  'and',
  'the',
  'chutney',
  '...',
  'really',
  'good',
  'and',
  'money',
  'worth',
  'much',
  'better',
  'than',
  'a',
  'thattukada',
  'must',
  'try',
  'it'],
 ['went',
  'there',
  'on',
  'a',
  'friday',
  'night',
  ',',
  'the',
  'place',
  'was',
  'surprisingly',
  'empty',
  '.',
  'interesting',
  'menu',
  'which',
  'is',
  'almost',
  'fully',
  'made',
  'of',
  'dosas',
  '.',
  'i',
  'had',
  'bullseye',
  'dosa',
  'and',
  'cheese',
  'masala',
  'dosa',
  '.',
  'the',
  'bullseye',
  'dosa',
  'was',
  'really',
  'good',
  ',',
  'with',
  'the',
  'egg',
  'perfectly',
  'cooked',
  'to',
  'a',
  'half',
  'boiled',
  'state',
  '.',
  'the',
  'masala',
  'in',
  'the',
  'cheese',
  'masala',
  'was',
  'good',
  ',',
  'but',
  'the',
  'cheese',
  'was',
  'a',
  'bit',
  'too',
  'chewy',
  'for',
  'my',
  'liking',
  '.',
  'the',
  'chutney',
  'was',
  'good',
  ',',
  'the',
  'sambar',
  'was',
  'average',
  '.',
  'the',
  'dishes',
  'are',
  'reasonably',
  'priced',
  '.']]

In [25]:
#remove stop words and punctuations

In [26]:
from nltk.corpus import stopwords
from string import punctuation

In [27]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/labsuser/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
stop_nltk=stopwords.words('english')

stop_punct=list(punctuation)

In [29]:
print(stop_punct)

['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']

In [30]:
print(stop_nltk)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [31]:
stop_nltk.remove('no')

stop_nltk.remove('not')

stop_nltk.remove('don')

stop_nltk.remove('won')

In [32]:
# final list for removal

stop_final=stop_nltk+stop_punct+['...',"''","====",'must']

In [33]:
#remove the stop final
def del_stop(txt):

    return [term for term in txt if term not in stop_final]

In [34]:
del_stop(reviews_tokens[1])

['really',
 'appreciate',
 'quality',
 'timing',
 'tried',
 'thattil',
 'kutti',
 'dosa',
 "'ve",
 'addicted',
 'dosa',
 'really',
 'chutney',
 'really',
 'good',
 'money',
 'worth',
 'much',
 'better',
 'thattukada',
 'try']

In [35]:
reviews_clean=[del_stop(txt) for txt in reviews_tokens]

In [36]:
reviews_clean[0:3]

[['service',
  'worst',
  'pricing',
  'menu',
  'different',
  'bill',
  'give',
  'bill',
  'increased',
  'pricing',
  'even',
  'serving',
  'water',
  'menu',
  'order',
  'need',
  'call',
  '3-4',
  'times',
  'even',
  'non',
  'busy',
  'day'],
 ['really',
  'appreciate',
  'quality',
  'timing',
  'tried',
  'thattil',
  'kutti',
  'dosa',
  "'ve",
  'addicted',
  'dosa',
  'really',
  'chutney',
  'really',
  'good',
  'money',
  'worth',
  'much',
  'better',
  'thattukada',
  'try'],
 ['went',
  'friday',
  'night',
  'place',
  'surprisingly',
  'empty',
  'interesting',
  'menu',
  'almost',
  'fully',
  'made',
  'dosas',
  'bullseye',
  'dosa',
  'cheese',
  'masala',
  'dosa',
  'bullseye',
  'dosa',
  'really',
  'good',
  'egg',
  'perfectly',
  'cooked',
  'half',
  'boiled',
  'state',
  'masala',
  'cheese',
  'masala',
  'good',
  'cheese',
  'bit',
  'chewy',
  'liking',
  'chutney',
  'good',
  'sambar',
  'average',
  'dishes',
  'reasonably',
  'priced']]

In [37]:
reviews_clean=[" ".join(txt) for txt in reviews_clean]

reviews_clean[:2]

['service worst pricing menu different bill give bill increased pricing even serving water menu order need call 3-4 times even non busy day',
 "really appreciate quality timing tried thattil kutti dosa 've addicted dosa really chutney really good money worth much better thattukada try"]

In [38]:
#create independent and depemdent set

In [39]:
reviews_clean1=reviews_clean[:5000]

In [40]:
# create Indep & dep set

X=reviews_clean1

y=reviews.rating[:5000]

In [41]:
# split the data into trainset & test set

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [42]:
# apply tf-idf

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer=TfidfVectorizer(max_features=5000)

In [43]:
X_train_features=vectorizer.fit_transform(X_train)

In [44]:
X_test_features=vectorizer.transform(X_test)

In [45]:
from sklearn.ensemble import RandomForestRegressor
reg=RandomForestRegressor()

In [46]:
reg.fit(X_train_features,y_train)

RandomForestRegressor()

In [47]:
y_train_pred=reg.predict(X_train_features)
y_test_pred=reg.predict(X_test_features)

In [48]:
from sklearn.metrics import mean_squared_error

mse=mean_squared_error(y_train_pred,y_train)

mse

0.07615397852568821

In [49]:
mse1=mean_squared_error(y_test_pred,y_test)

mse1

0.2976742562857842

In [51]:
# identify performance

res_df=pd.DataFrame({'review':X_test,'rating':y_test,'rating_pred':y_test_pred})

In [52]:
res_df

                                                 review  rating  rating_pred
1501  100 ft boutique restaurant one favourite place...     5.0        4.725
2586  went place today lunch located strategically p...     3.5        3.530
2653  sad people sad people ããããããããâ...     2.0        3.345
1055  super testy food awesome experience fast suppl...     4.5        4.460
705   place great food music ambience fine brewery w...     5.0        4.700
...                                                 ...     ...          ...
3563  good food service reasonable rate.manily 's ty...     4.0        4.480
1538  ordered dhoosa puri chai mid night mind blowin...     5.0        4.865
1837         extremely happy order food also good tasty     5.0        5.000
2380  ambience decent service little slow asked wate...     3.0        3.020
1912  best place quick bites pure south indian affor...     5.0        4.940

[1500 rows x 3 columns]

In [ ]:
#libraries to save the ML models are Joblib and pickle

In [53]:
# joblib

import joblib

joblib.dump(reg,'Rating_pred.pkl')

print('model saved')

model saved

In [54]:
# load the model 

model=joblib.load('Rating_pred.pkl')

print('model loaded')

model loaded

In [55]:
review='This is one of the best place to visit, very good food & overall service'

In [56]:
vector_review=vectorizer.transform([review])

In [58]:
rating_review=model.predict(vector_review)
rating_review

array([4.405])